<a href="https://colab.research.google.com/github/LifeLeveller/Python-Examples/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create a dictionary using {}
person = {"name": "Ranjini", "country": "India", "mobile": 9845660656}
print(person)
# output - {'name': 'Ranjini', 'country': 'India', 'mobile': 9845660656}

# create a dictionary using dict()
person = dict({"name": "Ranjini", "country": "India", "mobile": 9845660656})
print(person)
# output -  {'name': 'Ranjini', 'country': 'India', 'mobile': 9845660656}

# create a dictionary from sequence having each item as a pair
person = dict([("name", "Ranjini"), ("country", "India"), ("mobile", 9845660656)])
print(person)
#Output - {'country': 'India', 'name': 'Ranjini', 'mobile': 9845660656}

# create dictionary with mixed keys keys
# first key is string and second is an integer
sample_dict = {"name": "Ranjini", 10: "Mobile"}
print(sample_dict)
# Output: {'name': 'Ranjini', 10: 'Mobile'}

# create dictionary with value as a list
person = {"name": "Ranjini", "telephones": [9845660656,9845660657,9845660658]}
print(person)
# {'name': 'Ranjini', 'telephones': [9845660656, 9845660657, 9845660658]}

{'name': 'Ranjini', 'country': 'India', 'mobile': 9845660656}
{'name': 'Ranjini', 'country': 'India', 'mobile': 9845660656}
{'country': 'India', 'name': 'Ranjini', 'mobile': 9845660656}
{'name': 'Ranjini', 10: 'Mobile'}
{'name': 'Ranjini', 'telephones': [9845660656, 9845660657, 9845660658]}

In [ ]:
#Creating a dictionary with input()
name = input("Enter your name: ")
country = input("Enter your country: ")
mobile = int(input("Enter your mobile number: "))
d_person = {'name':name,'country':country,'mobile':mobile}
print(d_person)
d_person = {'n1':name,'c1':country,'m1':mobile}
print(d_person)

Enter your name: Ranjini
Enter your country: india
Enter your mobile number: 9866
{'name': 'Ranjini', 'country': 'india', 'mobile': 9866}
{'n1': 'Ranjini', 'c1': 'india', 'm1': 9866}

In [ ]:
#Creating a dictionary with input of key and value
k1 = input("Enter the key: ")
v1 = eval(input("Enter the value"))
d1 = {k1:v1}
print(d1)

Enter the key: 1
Enter the value23
{'1': 23}

In [ ]:
#Creating a dictionary with number of key:value pair

d1={}
n1 = int(input("Enter the number of pairs: "))
for i in range(n1):
  k1 = input("Enter the key: ")
  v1 = eval(input("Enter the value"))
  d1[k1] = v1
print(d1)

Enter the number of pairs: 2
Enter the key: 1
Enter the value'one'
Enter the key: 1
Enter the value'two'
{'1': 'two'}

In [ ]:
#Accessing elements of a dictionary
person = {"name": "Ranjini", "country": "India", "mobile": 9845660656}
d1 = {"name": "Ranjini", "telephones": [9845660656,9845660657,9845660658]}

print("Length of the dictionary is : ",len(person))
#Retrieve value using the key name inside the [] square brackets
print(person['name'])
print(person['name'][2])
print(d1['telephones'])
print(d1['telephones'][2])
#print(person['mobile'][0])
#print(d1['telephones'][2][1])

#Retrieve value by passing key name as a parameter to the get() method of a dictionary
print(person.get('mobile'))
print(d1.get('telephones'))
print(d1.get('telephones')[0])

Length of the dictionary is :  3
Ranjini
n
[9845660656, 9845660657, 9845660658]
9845660658
9845660656
[9845660656, 9845660657, 9845660658]
9845660656

In [ ]:
#Accessing the non existing element
print(person.get('text'))
print(person.get('text','Not Found'))

None
Not Found

In [ ]:
#dictionary methods to retrieve all key and values 

colors = {'r': 'red', 'g': 'green', 'b': 'blue', 'bl': 'black', 'primary': ['red', 'green', 'blue']}


#keys()	Returns the list of all keys present in the dictionary
print("The keys from the dictionary = ", colors.keys(),'\n',type(colors.keys()))

#values()	Returns the list of all values present in the dictionary
print("The values from the dictionary = ", colors.values(),'\n',type(colors.values()))

#items()	Returns all the items present in the dictionary. 
#Each item will be inside a tuple as a key-value pair.

print("The items from the dictionary = ", colors.items(),'\n',type(colors.items()))

The keys from the dictionary =  dict_keys(['r', 'g', 'b', 'bl', 'primary'])
 <class 'dict_keys'>
The values from the dictionary =  dict_values(['red', 'green', 'blue', 'black', ['red', 'green', 'blue']])
 <class 'dict_values'>
The items from the dictionary =  dict_items([('r', 'red'), ('g', 'green'), ('b', 'blue'), ('bl', 'black'), ('primary', ['red', 'green', 'blue'])])
 <class 'dict_items'>

In [ ]:
#Traversing the dictonaries - keys()

for key in colors:
  print(key)

print("\nPrint using person.keys()")
for key in colors.keys():
  print(key)

r
g
b
bl
primary

Print using person.keys()
r
g
b
bl
primary

In [ ]:
#Traversing the dictonaries - values()
for val in colors:
  print(colors[val])

print("\nPrint using person.values()")
for val in colors.values():
  print(val)

red
green
blue
black
['red', 'green', 'blue']

Print using person.values()
red
green
blue
black
['red', 'green', 'blue']

In [ ]:
#printing the key-value pair
for key in colors:
  print(key+':'+str(colors[key]))

r:red
g:green
b:blue
bl:black
primary:['red', 'green', 'blue']

In [ ]:
#Traversing the dictonaries - items()
print("\nPrint using colors.items()")
for itm in colors.items():
  print(itm)
print("\nPrint using colors.items() - nested list")
for key in colors.items():
  for val in key:
    print(val)
print("\nPrint using colors.items() - individual key and value")
#unpacking the tuple
for key,val in colors.items():
  print(key,':',val)

Print using colors.items()
('r', 'red')
('g', 'green')
('b', 'blue')
('bl', 'black')
('primary', ['red', 'green', 'blue'])

Print using colors.items() - nested list
r
red
g
green
b
blue
bl
black
primary
['red', 'green', 'blue']

Print using colors.items() - individual key and value
r : red
g : green
b : blue
bl : black
primary : ['red', 'green', 'blue']

In [ ]:
#Nested list as key and value
l1=[['name','john'],['age',17]]
d=dict(l1)
print(d)

{'name': 'john', 'age': 17}

In [ ]:
l1=[1,2,3]
l2=['one','two','three']
d1=zip(l1,l2)

print("after zipping", d1)
print("\nConvert to dictionary")
print(dict(d1))

d2=zip(l1,l2)
print("\n To look into zipped object")
for i in d2:
  print(i)
print("\nvariations")
print(list(zip(l1,l2)))
print(tuple(zip(l1,l2)))
print(dict(zip(l1,l2)))

after zipping <zip object at 0x7f4fef1eb640>

Convert to dictionary
{1: 'one', 2: 'two', 3: 'three'}

 To look into zipped object
(1, 'one')
(2, 'two')
(3, 'three')

variations
[(1, 'one'), (2, 'two'), (3, 'three')]
((1, 'one'), (2, 'two'), (3, 'three'))
{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
dept = ('comp','sci','math','eng')
name = ['Ranjini','Pavani','Uma']
d1=zip(dept,name)
print(dict(d1))

{'comp': 'Ranjini', 'sci': 'Pavani', 'math': 'Uma'}

In [ ]:
#Adding/Modifying items to the dictionary

#Using key name: We can directly assign new values by using its key name. 
#The key name will be the existing one and we can mention the new value.

colors = {"r": "red", 'g':'green'}
colors['b']='blue'
print(colors)

#Using update() method: We can use the update method by passing the key-value pair to change the value. 
colors.update({"bl": "black"})

colors.update([("primary", ['red','green','blue'])])
print(colors)

{'r': 'red', 'g': 'green', 'b': 'blue'}
{'r': 'red', 'g': 'green', 'b': 'blue', 'bl': 'black', 'primary': ['red', 'green', 'blue']}

In [ ]:
#update()
#the dictionary to be added will be passed as the argument to the update() method and 
#the updated dictionary will have items of both the dictionaries.

d1 = {'abc': 82, 'def': 90, 'ghi': 45}
d2 = {'jkl': 56, 'mno': 45, 'pqr': 66}

# copy second dictionary into first dictionary
d1.update(d2)
# printing the updated dictionary
print(d1)

#Output- {'abc': 82, 'def': 90, 'ghi': 45, 'jkl': 56, 'mno': 45, 'pqr': 66}

{'abc': 82, 'def': 90, 'ghi': 45, 'jkl': 56, 'mno': 45, 'pqr': 66}

In [ ]:
# if both the dictionaries have a common key then the first dictionary value will be overridden with the second dictionary value.
d1 = {'abc': 82, 'def': 90, 'ghi': 45}
d2 = {'jkl': 56, 'mno': 45, 'ghi': 66}

# copy second dictionary into first dictionary
d1.update(d2)
# printing the updated dictionary
print(d1['ghi'])

66

In [ ]:
#fromkeys()-It creates a new dictionary from the given sequence with the specific value.
#Default is None when value is not specified
seq="aeiou"
d1 = dict.fromkeys(seq)
print(d1)

seq= {1,2,3,4,5}
val = ('one',)
d1 = dict.fromkeys(keys,val)
print(d1) 

new_dict = dict.fromkeys(range(1,4),[])
print(new_dict)

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}
{1: ('one',), 2: ('one',), 3: ('one',), 4: ('one',), 5: ('one',)}
{0: [], 1: [], 2: [], 3: []}

In [ ]:
# Initializing sequence and list
seq = ['a', 'b', 'c', 'd', 'e']
l1 = [2, 3]
t1=(2,3)
d1 = dict.fromkeys(seq,t1)
d2 = dict.fromkeys(seq,l1) 
# Printing created dictionary
print("The newly created dictionary with list values : "
      + str(d1))
#tuple 
t1 = t1+(5,) 

# appending to l1
l1.append(4)
print("The dictionary with list values after appending : ",d2)
# Printing dictionary after appending
# Notice that append takes place in all values
print("The dictionary with list values after appending : ",d1)

The newly created dictionary with list values : {'a': (2, 3), 'b': (2, 3), 'c': (2, 3), 'd': (2, 3), 'e': (2, 3)}
The dictionary with list values after appending :  {'a': [2, 3, 4], 'b': [2, 3, 4], 'c': [2, 3, 4], 'd': [2, 3, 4], 'e': [2, 3, 4]}
The dictionary with list values after appending :  {'a': (2, 3), 'b': (2, 3), 'c': (2, 3), 'd': (2, 3), 'e': (2, 3)}

In [ ]:
#setdefault() method returns the value of a key (if the key is in dictionary). If not, it adds key with a value to the dictionary.
#Syntax: dict.setdefault(key, default_value)

#when key is in the dictionary
colors = {"r": "red", 'g':'green'}
g1 = colors.setdefault('g')
print("colors = ",colors)
print(g1)

#when key is not in the dictionary
colors = {"r": "red", 'g':'green'}
v1 = colors.setdefault('v')
print("colors = ",colors)
print(v1)

#when key is not in the dictionary - default value provided
colors = {"r": "red", 'g':'green'}
v1 = colors.setdefault('v', 'violet')
print("colors = ",colors)
print(v1)

colors =  {'r': 'red', 'g': 'green'}
green
colors =  {'r': 'red', 'g': 'green', 'v': None}
None
colors =  {'r': 'red', 'g': 'green', 'v': 'violet'}
violet

In [ ]:
#The copy() method returns a copy (shallow copy) of the dictionary
original_marks = {'Physics':67, 'Maths':87}

copied_marks = original_marks.copy()
copied_marks['Chemistry'] = 90

print('Original Marks:', original_marks)
print('Copied Marks:', copied_marks)

#another method
x = dict.copy(original_marks)
x.clear()
print('Original Marks:', original_marks)
print('Copied Marks:', x)

Original Marks: {'Physics': 67, 'Maths': 87}
Copied Marks: {'Physics': 67, 'Maths': 87, 'Chemistry': 90}
Original Marks: {'Physics': 67, 'Maths': 87}
Copied Marks: {}

In [ ]:
original_marks = {'sid':'c19654', 'marks':[87,78,99,88]}

copied_marks = original_marks.copy()
copied_marks['class'] = 'Class12'
copied_marks['marks'][0] = 99

print('Original Marks:', original_marks)
print('Copied Marks:', copied_marks)

Original Marks: {'sid': 'c19654', 'marks': [99, 78, 99, 88]}
Copied Marks: {'sid': 'c19654', 'marks': [99, 78, 99, 88], 'class': 'Class12'}

In [ ]:
original_marks = {'sid':'c19654', 'marks':{'phy':87,'chem':78,'maths':99}}

copied_marks = original_marks.copy()
copied_marks['class'] = 'Class12'
copied_marks['marks']['phy'] = 90

print('Original Marks:', original_marks)
print('Copied Marks:', copied_marks)

Original Marks: {'sid': 'c19654', 'marks': {'phy': 90, 'chem': 78, 'maths': 99}}
Copied Marks: {'sid': 'c19654', 'marks': {'phy': 90, 'chem': 78, 'maths': 99}, 'class': 'Class12'}

In [ ]:
#Deletion
d1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

#d1.pop("k")	Remove the key 'k' from the dictionary.
d1.pop(3)
print(d1)

#when key is not in the dictionary
x= d1.pop(6,'not found')
print(x)

#d1.popitem()	Remove last entered key value pair and returns it as a tuple
pitm = d1.popitem()
print(pitm)

#del  d1[“key”]
del d1[1]
print(d1)

#d1.clear()	Removes all items from the dictionary.
d1.clear()
print(d1)

#Delete the dictionary d1
del d1

In [ ]:
d1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

max1 = max(d1.values())
min1 = min(d1.values())
print("maximum value = {}, minimum value = {}".format(max1,min1))

maximum value = two, minimum value = five

In [ ]:
# defining the dictionary
ttable = {'Days': ["Mon","Tue","wed","Thu"],
   'time': "2 pm",
   'Subjects':["Phy","Chem","Maths","Bio"]
   }
print("Given dictionary:\n",ttable)
count = 0
# using .items()
for key, value in ttable.items():
   if isinstance(value, list):
      count += len(value)
print("The number of elements in lists: \n",count)

In [ ]:
#Nested Dictionary
id=[101,340,102,205]
emp_data = [{'name':'Harsha','salary':50000,'year':2019},
             {'name':'Bob','salary':30000,'year':2021},
            {'name':'Swathi','salary':45000,'year':2019},
            {'name':'Dinesh','salary':20000,'year':2020}]
ed = dict(zip(id,emp_data))
print(ed)

{101: {'name': 'Harsha', 'salary': 50000, 'year': 2019}, 340: {'name': 'Bob', 'salary': 30000, 'year': 2021}, 102: {'name': 'Swathi', 'salary': 45000, 'year': 2019}, 205: {'name': 'Dinesh', 'salary': 20000, 'year': 2020}}