<a href="https://colab.research.google.com/github/LifeLeveller/Python-Examples/blob/Python_data_types/Loops_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for..else

In [ ]:
max=int(input("upto what number? "))

for num in range(2,max+1):
  for i in range(2, num):
    if(num%i)==0:
      break
  else:
    print(num)

#while..else

In [ ]:
i=0
while (i<5):
  if i==3:
    break
  print(i)
  i=i+1
else:
  print("Outside while")

In [ ]:
count = 0
while (count < 0):   
    count = count+1
    print(count)
else:
    print("No Break")

In [ ]:
i=0
while i<3:
    j=0
    while j<2:
        print(i, j, sep=' , ')
        j+=1
    i+=1

In [ ]:
i=0
while(i<5):
	if i==3:
		print("before break")
		break
		print("after break")
	print(i)
	i=i+1
	while i==2:
		print("2 in while")
		break;

In [ ]:
answer = 'n'
while answer!='y':
	answer = input("Are you bored yet? (y/n) ")
	if answer == 'n':
		continue
	elif answer != 'y':
		print("Enter either y or n")
else:
	print("Go do something useful") #Entered y

In [ ]:
n=int(input('How many numbers? '))
f1=0
f2=1
c=2
if n==1:
  print(f1)
elif n==2:
  print(f1, '\n' , f2, sep='')
else:
  print(f1, '\n',f2 , sep='')
  while c<n:
    f=f1+f2
    print(f)
    f1,f2 = f2,f
    c+=1

In [ ]:
#Write a program to count the number of digits in a number
num =int(input("Enter number:"))
count=0
while(num>0):
    count=count+1
    num=num//10
print("The number of digits in the number is:",count)

In [ ]:
#WAP to reverse digits in a number
num = int(input("Enter a number:"))
num1=num
rev = 0
while(num>0):
  rem = num%10
  rev = rev*10 + rem
  num = num//10
  print("Order of reverse",rev)
print("The reversed digit of",num1,"is",rev)

#String Manipulation

In [ ]:
#Traversing/Iterating through a string
name = "This is cool!"

length = len(name)
for ch in range(length):
  print(ch,end=" ")

print()

for ch in name:
  print(ch,end=" ")

print()

for i in range(len(name)):
  print(name[i], end =" ")

In [ ]:
count = 0
for letter in name:
    if(letter == 's'):
        count += 1
print(count,'letters found for char \'s\'')

In [ ]:
#WAP to accept a string and replace vowel in the string with number 0
str1 = input("Enter a string : ")
#new_str =""
for i in range(len(str1)):
  if str1[i] in 'AEIOUaeiou':
    print('0',end="")
  else:
    print(str1[i],end='')
#print(new_str)

In [ ]:
#WAP to accept a string and replace vowel in the string with number 0
str1 = input("Enter a string : ")
new_str =""
for i in range(len(str1)):
  if str1[i] in 'AEIOUaeiou':
    new_str+='0'
  else:
    new_str+=str1[i]
print(new_str)

In [ ]:
word='my string'
length = len(word)
# items start through end-1 
print(word[0:length])
# items start through the rest of the list
print(word[0:])
# items from the beginning through end-1
print(word[:length])
# a copy of the whole list
word1 = word[:]
print("Copied string: ", word1)

In [ ]:
string_to_iterate = "This is cool!"
for char in string_to_iterate[0 : 5 : 1]:
   print(char)

print("[::]")
for i in string_to_iterate[: :]:
  print(i,end=' ')
  
print("\n[::-1] ")
for i in string_to_iterate[: :-1]:
  print(i,end=' ')

In [ ]:
s = '12345' * 5

print(s[::-5])

In [ ]:
string_to_iterate = "String_traversal"
new_str = ""
for char in string_to_iterate[ :  : 3]:
   new_str = new_str + char + '#-'
print(new_str)

In [ ]:
string_to_iterate = "tattarrattat"
char_index = len(string_to_iterate) - 1
while char_index >= 0:
  print(string_to_iterate[char_index])
  char_index -= 1

#String methods

In [ ]:
#Replacing a string
txt = 'This is a beautiful day'
s1 = 'day'
s2 = 'flower'
str1 = txt.replace(s1,s2)
print("This is a beautiful day".replace("day","flower"))
print(str1)
s3 = txt[-3:]
print(s3)
print(txt.replace(s3,s2))

This is a beautiful flower
This is a beautiful flower
day
This is a beautiful flower

In [ ]:
#Removing trailing spaces from right and left of a string
name = '  Ma rio Bros   '

print(name.rstrip())
print(name.lstrip())
print(name.strip())

In [ ]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")
print(x)

In [ ]:
#Splitting strings 
#split() function splits the string from the first occurence starting from left side
txt = input("Enter numbers seperated by comma: ")
#cut the string where comma is found
txt1 = txt.split(",")
print(txt1)
txt = "this-is-fun"
print(txt.split("-"))
print(txt.partition("-"))
for i in txt1:
  print(i)

Enter numbers seperated by comma: 6,7
['6', '7']
['this', 'is', 'fun']
('this', '-', 'is-fun')
6
7

In [ ]:
#rsplit() function splits the string from the right side on the basis of the given seperator
#blank space is default seperator
txt = "Example for rsplit!" 
print(txt.rsplit(" ",3))
#1 is specified so that the string is split 1 time only from the right

['Example', 'for', 'rsplit!']

In [ ]:
#partition() Method - Divide the string into smaller parts
txt = "This is super fun"

x = txt.partition("super")
#Returns tuple as a output
print(x)

In [ ]:
#joining strings - Concatenate strings with an iterable like list,tuple,dictionary,set etc.,
#iterable - object whose all values are returned in the form of a string

txt = "Hello Everyone"
sep = '#'
print(sep.join(txt))
print(sep.join(txt1))

H#e#l#l#o# #E#v#e#r#y#o#n#e
3#4#6#7#88

In [ ]:
a,b = '11',12
c = '/'
print(c.join(a))
print(c.join(b))

In [ ]:
#Changing case of a string
txt = '41this IS a bEAutiful day'

print(txt.upper().title())
str1 = "HellO All"
print("swapcase()", str1.swapcase())
print("title(): ",txt.title())
print("capitalize(): ","To capItalZDFDSize".capitalize())

41This Is A Beautiful Day
swapcase() hELLo aLL
title():  41This Is A Beautiful Day
capitalize():  To capitalzdfdsize

In [ ]:
#Find and count
txt = 'this is a beautiful day'
sfind = txt.find("ahh")
print(txt.rfind('i',4,10))
s_find = txt.find("is")
ifind = txt.index('a')
print("x is found at index", sfind)
print("String 'is' is found at index",s_find)
print("index of a is",ifind)
c = txt.count("day")
print('count of a', c)

5
x is found at index -1
String 'is' is found at index 2
index of a is 8
count of a 1

In [ ]:
#Checking the starting and ending of the string
#str.startswith(substring)
txt="text"

print(txt.startswith('b'))
print(txt.endswith("t"))

In [ ]:
#Remove extra spaces from a string
mystr = ' Cod ing i s fu n '
print(mystr.replace(' ',''))    
#Split and join method
print(''.join(mystr.split()))
#strip method

#String Testing Methods

In [ ]:
#isalnum() returns True if string is nonempty and all its characters are alphanumeric 
#(either a letter or a number), and False otherwise

my_string ='HelloWorld'
print(my_string.isalnum())
my_string ='Hello World'
print(my_string.isalnum())
my_string ='Hello@123'
print(my_string.isalnum())
my_string ='Hello123'
print(my_string.isalnum())

In [ ]:
#String Testing Methods
#isalpha() returns True if string is nonempty and all its characters are alphabetic, 
#and False otherwise
my_string ='Hello world'
print(my_string.isalpha())
my_string ='Helloworld'
print(my_string.isalpha())
my_string ='hello@123'
print(my_string.isalpha())
my_string =' '
print(my_string.isalpha())

In [ ]:
#islower() returns True if string is nonempty and all the alphabetic characters it contains are lowercase, and False otherwise. Non-alphabetic characters are ignored

my_string ='HelloWorld'
print(my_string.islower())
my_string ='helloworld'
print(my_string.islower())
my_string ='hello world'
print(my_string.islower())
my_string ='hello@world12'
print(my_string.islower())
my_string =' '
print(my_string.islower())

In [ ]:
#isupper() returns True if string is nonempty and all the alphabetic characters it contains are uppercase, and False otherwise. Non-alphabetic characters are ignored

my_string ='HelloWorld'
print(my_string.isupper())
my_string ='HELLOWORLD'
print(my_string.isupper())
my_string ='HELLO WORLD'
print(my_string.isupper())
my_string ='HELLO@123'
print(my_string.isupper())

In [ ]:
#isdigit() returns True if string is nonempty and all its characters are numeric digits, and False otherwise:

mystr = 'Hello123'
print(mystr.isdigit())
mystr = '123'
print(mystr.isdigit())
mystr = '123@'
print(mystr.isdigit())
mystr = '1'
print(mystr.isdigit())

In [ ]:
#isspace() returns True if s is nonempty and all characters are whitespace characters, and False otherwise.

mystr = 'hell o'
print(mystr.isspace())
mystr = ' \n '
print(mystr.isspace())
mystr = '\n\t\n\\t'
print(mystr.isspace())
mystr = '\n\t'
print(mystr.isspace())

In [ ]:

mystr = " "
print(mystr.isspace())
#mystr is not None and mystr is not empty or blank
if mystr and mystr.strip():
  print("String is not empty")
else:
  print("string is empty")

True
string is empty

#Programs

In [ ]:
string_to_iterate = "tattarrattat"
char_index = len(string_to_iterate) - 1
new_string = ""
while char_index >= 0:
  new_string = new_string + string_to_iterate[char_index]
  print(new_string)
  char_index -= 1
print("Original string: ", string_to_iterate, "\nreversed string: ", new_string)

In [ ]:
#Convert string to uppercase without string method
string = "case conversion"
upper_case = ""
for character in string:
  if 'a' <= character <= 'z':
    location = ord(character) - ord('a')
    new_ascii = location + ord('A')
    character = chr(new_ascii)
    upper_case = upper_case + character
  else:
    upper_case = upper_case + ' '
  print(upper_case)

In [ ]:
string_to_iterate = "Hello"
x=""
for i in string_to_iterate[: :-1]:
  x = x+i
print(x,end=' ')
newstr=""
for ch in range(len(x)):
  if ch%2!=0:
    newstr = newstr + "*"
  else:
    newstr = newstr + x[ch]
print()
print(newstr)

In [ ]:
for row in range(5,10):
  for column in range(1,5):
    print(column*row, end=' ')
  print()

In [ ]:
sum=0
for i in range(5):
  sum += i
  i = i+2
print(sum)

10

In [ ]:
if  87 // 5.0 == 17:
  print('True')
else:
  print('False')

True

In [ ]:
a = 3 < 5
b = 16 > 20
c = 43 >= 56
print(a,b,c)

if not a or b:
 	   print (1)
elif not a or not b and c: 
 	   print (2)
elif not a or b or not b and a: 
  	  print (3)
else: 
  	  print (4)

True False False
3

In [ ]:
strin = input("Enter 5 words seperated by comma")
strsplit = strin.split(',')
smax = max(strsplit)
print(smax)