<a href="https://colab.research.google.com/github/LifeLeveller/Python-Examples/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(type(200))                            # <class 'int'>
# value 200 is of type class 'int' because every variable that is created in 
#python is an object.

print(3.14)                          # <class 'float'>

print(1 + 2j)                        # <class 'complex'>

print(True)                          # <class 'bool'>

print([1, 2,34.6, 3])                     # <class 'list'>

print((1, 2, 3))                     # <class 'tuple'>

print({'red', 'green', 'blue'})      # <class 'set'>

print({'name': 'Alice', 'age': 42})  # <class 'dict'>

print('hello')                       # <class 'str'>

# Data Types

In [ ]:
#Multiline Strings - length
#len(obj) - Built-in-function to Return the length of the string
#           or number of elements in a list.

x = "I'am"
print(x)
y = 'I\'am'
print(y)


str1 = '''a
b
c'''
print(str1,len(str1))

str1 = '''a\
b\
c'''
print(str1, len(str1))

str1="""a\n
b\n
c\n"""
print(str1,len(str1))

str1 = """a\nb\nc\n"""
print(str1,len(str1))

str1 = "I\nlike\nprogramming"
print(str1,len(str1))

I'am
I'am
a
b
c 5
abc 3
a

b

c
 8
a
b
c
 6
I
like
programming 18

In [ ]:
""" Types
Python internally assumes the datatype of a variable
type(<object name>) function to determine the type of an object

L-Value = R-Value (Assignment Statement)
"""
a = 12
print(a, type(a))

b = 10/8
print(b, type(b))

b = 24
c = 12
print(b,a,type(b * a))
print(b,c,type(b/c))

In [ ]:
#Complex type
z = 1j
print(z,type(z))
j = 2
x = 3+5j
y = 5j
z = -5j

print("5j*",j,"=",5j * j)
print(x,type(x))
print(y)

print(z + 5)
print(-5 - z)

In [ ]:
#String Data Type
str1 = "string in a double quote"
str2 = 'string in a single quote'

print(str1,"is of type",type(str1))
print(str2, "is of type",type(str2))

# using ',' to concatenate the two or several strings
print(str1,"concatenated with",str2)

In [ ]:
#List Datatype
#List represents group of elements of different datatype
#List can grow dynamically in memory
list = [10,-20,45.6,'Mary']
print(list*2,type(list))
print(list[3],type(list))

[10, -20, 45.6, 'Mary', 10, -20, 45.6, 'Mary'] <class 'list'>
Mary <class 'list'>

In [ ]:
#Tuple Datatype
#Tuple is similar to list with group of elements of different datatype
#Read-only-list
#Elements of tuple are seperated by comma and enclosed in parentheses()
tuple_x = (10,-20,45.6,'Mary')
print(tuple_x[2],type(tuple_x))

45.6 <class 'tuple'>

In [ ]:
#Set Datatype
"""Set is an unordered collection of elements much like a set in mathematics.
Set does not accept duplicate elements"""
s = {10,20,30,20,50}
print(s,type(s))

{10, 20, 50, 30} <class 'set'>

#Input()
The input() method takes input from the user and returns it.
- variable_to_hold_the_value = input([prompt])
- prompt (Optional) - a string that is written to standard output (usually screen) without trailing newline
- takes input from keyboard and stores in a string

In [ ]:

str_name = input("Enter your name: ");
str_age = input("Enter your age")

str_age = str_age + 1

print("Name= ",str_name,type(str_name))
print("Age= ", str_age,type(age))

#Print()
-The print() function prints the given object to the standard output device (screen) or to the text stream file.

In [ ]:
#print statement without any arguments
print("class11")
print()     #add an empty line between the two outputs
print("Computer Science")

#With escape sequence
print("Tom\nJerry")
print("Tom\tJerry")

'''
- using the + operator, both the arguments must be string  
- while using the star(*) operator, one argument must be of int type, 
  and another must be of a string data type.
'''
print('Tom'+'Jerry')
print(3*'Tom & Jerry ')

#with any number of arguments
a,b,c = 10,40,50
print("values are:",a,b,c)

class11

Computer Science
Tom
Jerry
Tom	Jerry
TomJerry
Tom & Jerry Tom & Jerry Tom & Jerry
values are: 10 40 50

In [ ]:
# with sep Attribute
'''
The Separator between the arguments in print () statement by default is the space 
by using the sep parameter, we can change space into any character or integer
'''
print(a,b,c, sep=':')

#for formatting a date
print('20', '11', '2020',sep="/")

#to print a path
print('', 'home', 'user', 'documents', sep='/')

print('node', 'child', 'child', sep=' -> ')

10:40:50
20/11/2020
/home/user/documents
node -> child -> child

In [ ]:
#with end Attribute
'''Every print() is going to print the output in a new line; by using the end attribute, 
we can make the output print in a single line.'''

print('sriranjini.sridhar', end="@")
print('kumarans.org',end='')
print()
#End attribute by using colon(:)
print('1234',end=':')
print('ABCD', end='')
print()
#end attribute by using the $ symbol
print('120', end='$')
print()

sriranjini.sridhar@kumarans.org
1234:ABCD
120$

In [ ]:
#Using the sep attribute with end attribute
a = 10
print("a =", a, sep='00000', end='\n\n')
print("a =", a, sep='0', end='')
print()

print(10,20,30, sep=':',end="::")
print('integer values')

a =0000010

a =010
10:20:30::integer values

In [ ]:
#Explicit conversion
#We can convert between different data types by using different type conversion functions like int(), float(), str() etc.,
#Typecasting can be done by assigning the required data type function to the expression.

x = float(12)
print(x)
y = int(12.5)
print(y)
z = complex(12)
print(z)

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

In [ ]:
#Binary Datatype
bin_num = bin(123)
print("Binary number of 123 is ", bin_num)
#To convert back to decimal
dec_num = int(bin_num,base=2)
print("Decimal number of ",bin_num," is", dec_num)

In [ ]:
#Octal Datatype

x = oct(234)
print(x)
y = int(x,base=8)
print(y)
z = int("40", base = 8)
print(z)
print(oct(45))

In [ ]:
#Hexadecimal Datatype
hexnum = hex(7659)
print(hexnum)
dec_num= int(hexnum,base=16)
print(dec_num)

In [ ]:
"""Bytes Datatype - group of byte numbers
- positive number from 0 to 255(inclusive)
- it cannot store negative number
- The bytes Datatypes are Immutable; once we generate any list, we cannot make any changes to its content.
"""
x = b"Hello"
print(x, type(x))

elements = [10,20,0,50,60]
print(type(elements))
x = bytes(elements) #Convert list into byte array
print(x,type(x))


#Byte array is array of bytes and are mutable
# we can use a byte array to store a collection of binary data
# byte array datatype is also iterable in the range between 0 to 256


x = bytearray(10)
print(x, "bytearray",type(x))

b'Hello' <class 'bytes'>
<class 'list'>
b'\n\x14\x002<' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00') bytearray <class 'bytearray'>

In [ ]:
str1 = set("Hello")
print(str1,type(str1))

print(tuple("Hello"))

lst = list(range(10))
print(lst)

{'l', 'H', 'o', 'e'} <class 'set'>
('H', 'e', 'l', 'l', 'o')
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#range datatype
#Represents sequence of numbers

r=range(10)
for i in r:
  print(i)
r = range(30,40,2) 
#numbers in range will increment by 2
for i in r:
  print(i)

#Identity Operator

In [ ]:
'''The memory location of an object can be seen using the id() function.
The function returns an integer number called identity number that internally 
represents the memory location of the object.'''
val1 = 30
#We are assigning identifier 'val1' to the object 30
val2 = 30
#We are assigning another identifier 'val2' to the same object 30
#30 is the object for which two identifiers are given
print(id(val1))
print(id(val2))
val3 = 10+10+10
print(id(val3))
#the identity number of these  variables, will give the same number
# as they refer to the same object

In [ ]:
#IS Operator
#Used to compare whether two objects are same or not
"""If Identity numbers of the objects are same, return 'True' else it returns 
'False' """
val1 = 30,40

print(id(type(val1)),id(type(val2)))

if(val1 is val2):
  print(val1, "and",val2, "have same Identity")
else:
  print(val1, "and",val2, "have different Identity")

In [ ]:
print ('Equals' == 'Equals')
print ('Equals' is 'Equals')
print ('Equals' is 'equals')
print ([] == [])
print ([] is [])
print ("Python" is "Python")
#Complex Number
i = 1 + 2.5j
j = 1 + 2.5j
print(i is j)
print(i == j)
#Floating Point
k = 4.5
l = float(input("Enter a number : "))
print(k is l)
print(k == l)

#Assignment Operator

+= 	        a+=b is equivalent to a=a+b

\*=         	a*=b is equivalent to a=a*b

/=	        a/=b is equivalent to a=a/b

%=	        a%=b is equivalent to a=a%b

\*\*=	        a\*\*=b is equivalent to a=a**b (exponent operator)

//=	        a//=b is equivalent to a=a//b (floor division)

In [ ]:
# take two variable, assign values with assignment operators
a,b = 3,4

a+=b 
# it is equivalent to a=a+b
print(a)
 
a*=b
# it is equivalent to a=a*b
print(a)
 
a/=b
# it is equivalent to a=a/b
print(a)
 
a%=b
# it is equivalent to a=a%b
print(a)
 
a**=b
# it is equivalent to a=a**b ( exponent operator)
print(a)

a//=b
# it is equivalent to a=a//b ( floor division)
print(a)

a-=10
# it is equivalent to a=a-10 
print(a)

7
28
7.0
3.0
81.0
20.0
10.0

#Relational Operator

In [ ]:
# create two variables
a=100
b=200
 
# (==) operator, checks if two operands are equal or not
print(a==b)
 
# (!=) operator, checks if two operands are not equal
print(a!=b)
 
# (>) operator, checks left operand is greater than right operand or not
print(a>b)
 
# (<) operator, checks left operand is less than right operand or not
print(a<b)

#(>=) operator, checks left operand is greater than or equal to right operand or not
print(a>=b)
 
# (<=) operator, checks left operand is less than or equal to right operand or not
print(a<=b)

In [ ]:
#Strings
s1 = 'Dog'
s2 = 'Cat'
print(s1 > s2)
print(s1 >= s2)
print(s1 < s2)
print(s1 <= s2)

s1 = 'Dog'
s2 = 'Doghouse'
print(s1 > s2)
print(s1 >= s2)
print(s1 < s2)
print(s1 <= s2)



#compare between the string and int ?

True
True
False
False
False
False
True
True

In [ ]:
#Floating point and relational operators
print(0.3+0.3+0.3 == 0.9)
print(1.5+1.5+1.5 == 4.5)
print(0.2+0.2+0.2 == 0.6)
print(0.3+0.3+0.3)
#Binary equivalent of 1/3 or 0.3 decimal is 0.01001100110011001101
#17 digit precision
print(5 < 5.5)
print(5 == 5.0)
print(5 > 5.0)
print(0.7 + 0.7 > 1.399)
print(0.8+0.8 <= 1.600)

False
True
False
0.8999999999999999
True
True
False
True
True

#Bitwise Operator

In [ ]:
#Bool Type
#Integer
print(0,bool(0))
x=-9
print(x,bool(x),type(bool(x)))

print(1.3,bool(1.3),type(bool(1.3)))

print(5,bool(5))

#String
print("Hi",bool("Hi"))
print(" ", bool(" "))
print("\n", bool("\n"))
print(bool(""))

0 False
-9 True <class 'bool'>
1.3 True <class 'bool'>
5 True
Hi True
  True

 True
False

In [ ]:
#create two variables
a=10 # binary 1010
b=7  # binary 0111
 
# Binary AND (&) operator, done binary AND operation
print(a&b)
 
# Binary OR (|) operator, done binary OR operation
print(a|b)
 
# Binary XOR (^) operator, done binary XOR operation
print(a^b)
 
# Binary ONEs Compliment (~) operator, done binary One's Compliment operation
print(~a)

In [ ]:
a = 10
b = -5
print(~a)
print(~b)
not(not b)

-11
4

True

In [ ]:
print(~(a and b) or (a & b))
print(a | b & a or b)
c= a//2 + 20 and (b//2 & 4)  
print(c)
print(not(~b))
print(a,b,c)
print((c ** 2 and a-b) | (c or False))

4
10
4
False
10 -5 4
15

#Shift Operator

In [ ]:
a=3
# Binary Left Shift (<<) operator, done binary Left Shift operation
print(a<<1) 

# Binary Right Shift (>>) operator, done binary Right Shift operation
print(a>>1)

6
1

#Logical Operator

In [ ]:
#take user input as int
a=int(input())
 
# logical AND operation
 
if a%4==0 and a%3==0:
    print("divided by both 4 and 3")
 
# logical OR operation
if a%4==0 or a%3==0:
    print("either divided by 4 or 3")
 
# logical NOT operation
if not(a%4==0 or a%3==0):
    print("neither divided by 4 nor 3")

In [ ]:
grade = 80
grade2 = 90
not (grade >= 50 or grade2 >= 50)

#True or True
a = True
b = True

c = a or b
print(a,'or',b,'is:',c)

#True or False
a = True
b = False

c = a or b
print(a,'or',b,'is:',c)

#False or True
a = False
b = True

c = a or b
print(a,'or',b,'is:',c)

#False or False
a = False
b = False

c = a or b
print(a,'or',b,'is:',c)

print(30/40*5 == 22/7 * 2 * 2 or 30 **2 == 2*2*3.14)

True or True is: True
True or False is: True
False or True is: True
False or False is: False
False

# Built-in Function 
We need certain functionality to the code. And for the same, we have two options:

---Build the functionality from scratch
---Use existing libraries to extend our program

In [ ]:
#get a variable having value 16
number=16
 
#square root this number.
number=sqrt(number)
 
print(number)

NameError: ignored

Module is a file that contains a group of useful objects like functions,classes or variables.
'math' is a module that contains several functions to perform mathematical operations.

In [ ]:
help(math)

In [ ]:
#first import math module
import math
#get a variable having value 16
number=16
 
#square root this number.
x=math.sqrt(number)
 
print("Square root of",number,"is: ",x)
print("Factorial of 5 is:",math.factorial(5)) #Raises 'Value error' if x is not integer or is negative.
#If value is integer, same value is returned.
print("ceil(4.567) - Return the value to next higher integer: ", math.ceil(4.567))

print("floor(4.567)- Decreases the value to the previous integer value",math.floor(4.567))

print("pow(x,y)- Returns x value to power of y", math.pow(5,3))

##Program to convert degree to radian value

In [ ]:
#Program to convert degree to radian value
from math import pi
deg = float(input("Enter the degree : "))
#angle in radian = angle in degree x pi/180
rad = deg * (pi/180)
print("Degree to radian value", rad)

In [ ]:
#Solve the following:

#2
a,b,c = 3,5,7
x,y,z = a+1, b+c, c+4
print(a,b,c)
print(x-a, y-b, z-c)

x, y = 8,4
x,y,x = x +1, y+4, x+2
print(x,y)

x, y = 8,4
x = x +1 
x,y,x =x, y+4, x+2
print(x,y)

p,q = 3,5
q,r = p-2, p +2
print(p,q,r)

z,z = 20,30
w,w = z +10, z+20
print(z,w)